*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;



}
body {

  background: url("https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2NlbHNpdXMtY29udmVydC5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOiIxMjAwIn19fQ==");
  background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

}
.container{
  width : 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
form {
  background-color: #F1C93B;
  padding:80px;
  font-size: 30px;
}
